body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#header-logo {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px 15%;
}

.header-left {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    display: flex;

}

.right-links {
    gap: 10px;
    display: flex;
}

.first-box {
    display: flex;
    padding: 100px 15%;
    background-color: #1F2937;
}

.first-box-left, .first-box-right {
    width: 50%;
}

.first-box-left {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

}

.first-box-right img {
    width: 100%;
}


h2, p {
    padding: 0;
    margin: 0;
}

.first-box-left h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first-box-left p {
    color: #e5e7eb;
}

.signup-button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 5px;
    width: 100px;
}