body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#header-logo {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px 15%;
}

.header-left {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    display: flex;

}

.right-links {

    gap: 10px;
    display: flex;
}